@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;
<div class="jumbotron">
  <h1>Add a new Machine</h1>
</div>

@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.MachineName, placeholder = "Machine name", required = "required")
  <br>
  @Html.TextBoxFor(model => model.Description, placeholder = "Description", required = "required")
  <br>
  <input type="submit" value="Add Machine" />
}

<p>@Html.ActionLink("Return to Machines", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>