@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1 class="display-4">Welcome to Dr. Sillystringz's Factory!</h1>
</div>

<p>@Html.ActionLink("View Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("View Engineers", "Index", "Engineers")</p>